<div>
  <h2 id="page-heading" data-cy="QuestionAnswerHeading">
    <span pfaTranslate="preventiveformappApp.questionAnswer.home.title">Question Answers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span pfaTranslate="preventiveformappApp.questionAnswer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question-answer"
        [routerLink]="['/question-answer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span pfaTranslate="preventiveformappApp.questionAnswer.home.createLabel"> Create a new Question Answer </span>
      </button>
    </div>
  </h2>

  <pfa-alert-error></pfa-alert-error>

  <pfa-alert></pfa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="questionAnswers?.length === 0">
    <span pfaTranslate="preventiveformappApp.questionAnswer.home.notFound">No questionAnswers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="questionAnswers && questionAnswers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span pfaTranslate="global.field.id">ID</span></th>
          <th scope="col"><span pfaTranslate="preventiveformappApp.questionAnswer.answerCode">Answer Code</span></th>
          <th scope="col"><span pfaTranslate="preventiveformappApp.questionAnswer.answerText">Answer Text</span></th>
          <th scope="col"><span pfaTranslate="preventiveformappApp.questionAnswer.formAnswer">Form Answer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questionAnswer of questionAnswers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/question-answer', questionAnswer.id, 'view']">{{ questionAnswer.id }}</a>
          </td>
          <td>{{ questionAnswer.answerCode }}</td>
          <td>{{ questionAnswer.answerText }}</td>
          <td>
            <div *ngIf="questionAnswer.formAnswer">
              <a [routerLink]="['/form-answer', questionAnswer.formAnswer?.id, 'view']">{{ questionAnswer.formAnswer?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/question-answer', questionAnswer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" pfaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/question-answer', questionAnswer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" pfaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(questionAnswer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" pfaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
