<div>
  <h2 id="page-heading" data-cy="FormHeading">
    <span pfaTranslate="preventiveformappApp.form.home.title">Forms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span pfaTranslate="preventiveformappApp.form.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form"
        [routerLink]="['/form/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span pfaTranslate="preventiveformappApp.form.home.createLabel"> Create a new Form </span>
      </button>
    </div>
  </h2>

  <pfa-alert-error></pfa-alert-error>

  <pfa-alert></pfa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="forms?.length === 0">
    <span pfaTranslate="preventiveformappApp.form.home.notFound">No forms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="forms && forms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr pfaSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" pfaSortBy="id"><span pfaTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" pfaSortBy="formName">
            <span pfaTranslate="preventiveformappApp.form.formName">Form Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" pfaSortBy="description">
            <span pfaTranslate="preventiveformappApp.form.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of forms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form', form.id, 'view']">{{ form.id }}</a>
          </td>
          <td>{{ form.formName }}</td>
          <td>{{ form.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/form', form.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" pfaTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/form', form.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" pfaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(form)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" pfaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="forms && forms.length > 0">
    <div class="row justify-content-center">
      <pfa-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></pfa-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
